<%= link_to "Back to Pokedex", pokemons_path %>

<div class="two-columns">


  <div class="border">
    <%= render partial: "pokemon_card", locals: { pokemon: @pokemon } %>
  </div>

  <div class="border">
    <h5>Do you dare to catch this pokemon?</h5>

  </div>


</div>
